/.idea/caches/build_file_checksums.ser
/.idea/libraries/
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspaces.xml
/.idea/
/local.properties
*.jar
/.gradle
/captures
.externalNativeBuild
*.txt
# built app files
*.apk
*.ap_
# files for the dex VM
*.dex
Thumbs.db
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
bin/
gen/
/gradlew
*.properties*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
awsconfiguration.json
